<p>Thanks for the thought</p>
<p><a href="http://itp.nyu.edu/~chp250/sinatra/thoughts/all">GO TO MAIN PAGE</a></p>
<p><a href="http://itp.nyu.edu/~chp250/sinatra/thoughts/admin">ENTER MORE THOUGHTS</a></p>