<p>What are you thinking?</p> 
<form action="http://itp.nyu.edu/~chp250/sinatra/thoughts/admin_saved" method="POST">
    <p><textarea name="body"></textarea></p>
    <span>
        <p><input type="submit" value="Submit!"/></p>
    </span>
</form>