<!DOCTYPE html>
<html>

  <head>
    <title>Thoughts</title>
   
    <style type="text/css">
      
      body {
        font-family: Helvetica, sans-serif;
      }

      h1 {
        color: #555;
        border-bottom: 1px solid #ccc;
      }
                    
      a {
        font-style: strong;
      }
      
      label {
        font-style: italic;
      }
      
    </style>
  
  </head>
 
  <body>
    <a href="http://itp.nyu.edu/~chp250/sinatra/thoughts/">WELCOME</a>
     | 
    <a href="http://itp.nyu.edu/~chp250/sinatra/thoughts/all">THINK</a>
     |
    <a href="http://itp.nyu.edu/~chp250/sinatra/thoughts/admin">SUBMIT</a>
    
    <h1>THOUGHTS</h1>

    <%= yield %>

  </body>
  
</html>  